.cover {
  margin: 0 auto 92px;
  max-width: 1184px;
}

@media screen and (max-width: 1023px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin-bottom: 64px;
  }
}

/* Второй вариант затемнения, но надо разобраться как сделать плавное затемнение.

.cover {
	width: 1184px;
	height: 740px;
	margin: 92px auto 0;
	background: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(../../images/cover-trains.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cover:hover {
	background: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url(../../images/cover-trains.jpg);
	background-size: cover;
} */
